@media screen and (min-width: 800px) {
.header	{
	text-align: center;
	font-family: 'Satisfy', cursive;
	border: solid;
	border-color: #C6FFBB;
	color: #C6FFBB;  
}

*	{
	background-color: #9DA9B2;
	max-width: 1200px;
}

.people	{
	text-align: left;
	color: #C6FFBB;
	font-family: 'Raleway', sans-serif;
	border: solid;
	margin-top: 12px;
	padding-left: 12px;
	width: 320px;

}

.information	{
	font-family: 'Lora', serif;
	padding-bottom: 12px;
	padding-right:12px;
}

img	{
	float:left;
	margin: 0 0 1em 1em;
	padding-right: 12px;
}



.people:hover {
	-webkit-transform: scale(1.1);
        
     transition: all 0.3s ease;
}




.wrap	{
	justify-content: space-around;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
	
}

}


    * {
        background-color: #C6FFBB;
    }

    .people {
    	color: #9DA9B2;
	text-align: left;
	font-family: 'Raleway', sans-serif;
	border: solid;
	margin-top: 12px;
	padding-left: 12px;
    }

    .header {
    	color: #9DA9B2;
    	border: solid;
    	border-color: #9DA9B2;
    	text-align: center;
    	font-family: 'Satisfy', cursive;
    }
    .wrap	{
	justify-content: space-between;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	}
	.people:hover {
	-webkit-transform: scale(1.012);
        
     transition: all 0.3s ease;
	}



